# source files and cache
config
logs
pgdata
plugins
postgres-db-volume
*.pyc
*.exe
.ipynb_checkpoints
__pycache__

# credentials
*.json
default_filename.txt
ecomm-invoice-kde-aws-iam_accessKeys.csv

# scripts
test.py
# *.ipynb

# infrastructure
.terraform*
terraform.*

# ML models
*.pkl
